#flex{
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    height:150px ;
}

/*#flex > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

#flex > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}*/

/*#flex > div:nth-child(1){
    display: flex;
    gap: 20px;
    align-items: center;
    width:100% ;
}

#flex > div:nth-child(1) > img{
    width: 100px;
}*/

#flex > div {
    background-color: orange;
}

#flex > div:nth-child(1){
    flex-grow: 1;
    background-color: brown;
}

#flex > div:nth-child(2){
    flex-grow: 1;
    background-color: black;
    color: white;
}