* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

#container {
    background-color: orange;
    border: 1px black solid;
    display: flex;
    color: blueviolet;
    height: 246px;
}

/*#container > div {
    flex: 1;
}*/

#container > div:nth-child(1){
    background-color: lightblue;
}

#container > div:nth-child(2){
    background-color: lightcoral;
}

#container > div:nth-child(3){
    background-color: lightseagreen;
}

#container > div:nth-child(4){
    background-color: lightpink;
}

/*@media  only screen and (max-width: 767px) {
    #container {
        background-color: blue;
        flex-direction: column;
    }
    body {
        background-color: aquamarine;
    }
    #container > selection {
        display: none;
    }
}*/

@media only screen and (orientation: landscape) {
    #container {
        background-color: red;
    }
}