#container {
    background-color: orange;
    color: white;
    width: 200px;
    height: 300px;
    transition: width 2s;
    position: relative;
}

#Inner1 {
    position: absolute;
    width:100px ;
    height: 100px;
    background-color: black;
    z-index: -1;
}

#Inner2 {
    position: absolute;
    width:100px ;
    height: 100px;
    transform: rotate(60deg);
    background-color: yellow;
    z-index:1;
}

/*#container:hover{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}*/
