#container{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
   transform: translateX(200px) translateY(200px);
   transform-origin: 200px 200px;
}

/*body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}*/

#container:hover{
    transform:rotate(60deg) scale(1.2);
}